@import "tailwindcss";

@font-face {
  font-family: Dirooz;
  src: url('../public/fonts/Dirooz-FD.ttf');
}

@font-face {
  font-family: Vazir;
  src: url('../public/fonts/Vazir-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Vazir;
  src: url('../public/fonts/Vazir-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Vazir;
  src: url('../public/fonts/Vazir-Thin.ttf');
  font-weight: 200;
}

@theme {
  --color-main-background: #F5F5F5;
  --color-btn: #1081E8;
  --color-main-text: #0A0A0A;
  --color-main-text-2: #414141;
  --color-sub-text: #B1B1B1;
  --color-primery-600: #1F7168;

  --font-Vazir: 'Vazir';
  --font-Dirooz: 'Dirooz';

  /* --container-8xl: 1320px; */
}

@layer components {
  .container{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

body {
  font-family: Vazir !important;
  font-weight: normal;
  /* color: rgb(41, 41, 41); */
}

input::placeholder {
  color: var(--color-sub-text) !important;
  font-size: 12px !important;
}

.search-input::placeholder {
  color: var(--color-sub-text) !important;
  font-size: 12px !important;
}

.Main-Content>div {
  @apply mt-28
}