@import "tailwindcss";

@font-face {
  font-family: Dirooz;
  src: url('../public/fonts/Dirooz-FD.ttf');
}

@font-face {
  font-family: Vazir;
  src: url('../public/fonts/Vazir-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Vazir;
  src: url('../public/fonts/Vazir-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Vazir;
  src: url('../public/fonts/Vazir-Thin.ttf');
  font-weight: 200;
}

@theme {
  --color-main-background: #F5F5F5;
  --color-btn: #1081E8;
  --color-main-text: #0A0A0A;
  --color-main-text-2: #414141;
  --color-main-text-3: #757575;
  --color-sub-text: #B1B1B1;
  --color-primery-600: #1F7168;
  --color-gray-50: #F1F1F1;

  --font-Vazir: 'Vazir';
  --font-Dirooz: 'Dirooz';

  /* --container-8xl: 1320px; */
}

@layer components {
  .container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

body {
  font-family: Vazir !important;
  font-weight: normal;
  /* color: rgb(41, 41, 41); */
}

input::placeholder {
  color: var(--color-sub-text) !important;
  font-size: 12px !important;
}

.search-input::placeholder {
  color: var(--color-sub-text) !important;
  font-size: 12px !important;
}

.Main-Content>div {
  @apply my-26;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  @apply shadow-md shadow-neutral-200 rounded-md border-1 border-sub-text/10;

  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 282px;
  max-width: 282px;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper-pagination-bullet-active {
  background-color: var(--color-primery-600) !important;
}

.swiper-button-disabled {
  opacity: 0.5;
  cursor: auto;
  border-color: #ccc !important;
  /* تغییر رنگ دکمه */
  color: #aaa !important;
  /* تغییر رنگ آیکون */
}


.swiper-slide {
  width: auto;
  /* یا از flex استفاده کنید */
  flex-grow: 1;
}



.no_wrap_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  /* یا مقدار مناسب برای باکس */
}

.sm-shadow {
  box-shadow: 0 0 10px #ecececf1;
}